{% extends "layout.html" %}

{% block body %}  

   {% for User in Users%}
   <div id="title" class="side front">{{User.UID}}</div> 
   <div id="define" class="side back">{{User.UserID}}</div>
   <div id="define" class="side back">{{User.Username}}</div>
   <div id="define" class="side back">{{User.Password}}</div>
   <div id="define" class="side back">{{User.Points}}</div>
   {% endfor %}

   
<div class="row">
<div id="map"></div>
  <div class="col-sm-6">Maps are here</div>
 

  <div class="col-sm-4"></div>
	
</div>
{% endblock %}

{% block javascript %}
<script>

function savewp(id) {
  var answer = $("#answer_" + id).val()
  var user_answer = $("#txt_" + id).val();
  var is_correct = false;
  if(user_answer == answer){
    is_correct = true;
  }
  var post_data = {
			wpid : id,
      success : is_correct,
	    };
	
	$.ajax({
		type: "POST",
		url: "/savewp",
		dataType: "json",
		success: function (msg) {
      console.log(msg)
			if (msg) {
				if (msg.status == 200){ 
				$("#content_" + id).find("#firstHeading").text(msg.text)
				} else {
					console.log("failfailfailfailfail")
				}	
        //	
				//$("#content_" + id).hide();
			}
		},
		data: JSON.stringify(post_data)
	});
	
}</script>

{% endblock %}