{% extends "layout.html" %}

{% block body %}  

   {% for User in Users%}
   <div id="title" class="side front">{{User.UID}}</div> 
   <div id="define" class="side back">{{User.UserID}}</div>
   <div id="define" class="side back">{{User.Username}}</div>
   <div id="define" class="side back">{{User.Password}}</div>
   <div id="define" class="side back">{{User.Points}}</div>
   {% endfor %}

   
<div class="row">
<div id="map"></div>
  <div class="col-sm-6">Maps are here</div>
 

  <div class="col-sm-4"></div>
	
</div>
{% endblock %}