{% extends "layout.html" %}

{% block body %}  

<div class="row">
<div id="map"></div>
  <div class="col-sm-6">Maps are here</div>
 

  <div class="col-sm-4"></div>
	
</div>
{% endblock %}



{% block javascript %}
<script>

function savewp(id) {
  var post_data = {
			wp_id : id
	    };
	
	$.ajax({
		type: "POST",
		url: "/savewp",
		dataType: "json",
		success: function (msg) {
			if (msg) {
				if (msg.saved == true){ 
					//alert msg  for saved data
					
				} else {
					// fail
				}	
        //	
				$("#spn-wp-" + id).text(msg.count);
			}
		},
		data: JSON.stringify(post_data)
	});
	
}




$(document).ready(function () {
	$("#follow").click(function {
		
		
	});
	

});

</script>
{% endblock %}