{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}HealthGo{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'styles.css' %}" rel="stylesheet">
        <script
      src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&v=weekly"
      defer
    ></script>
    {% block javascript %}
    {% endblock %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="{% static 'common.js' %}"></script>
    </head>
    <body style = "background-color:#b1cdff;">

        <nav style = "background-color:  #5e68b0;" class="navbar navbar-expand-lg navbar-light">
        
            <a style = "color:#fef7bb"class="navbar-brand" href="{% url 'index' %}">HealthGo</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                
                {% if loginuser %}
                <li class="nav-item">
                    <a style = "color: #fef7bb" class="nav-link" href="{% url 'rewards' %}">Rewards</a>
                  </li>
                  <li class="nav-item">
                <a  style = "color:#fef7bb" class="nav-link" href="{% url 'logout' %}">Log out</a>
                </li>
                
                {% else %}
                    <li class="nav-item">
                        <a style = "color:#fef7bb" class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
	
</html>