{% extends "layout.html" %}
{% block body %}

    <h2 class="text-center">Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}


    <form class="col-lg-6 offset-lg-3 " action="/login" method="post">
        {% csrf_token %}
        <div class="form-group">

			user information
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="text-right">
        <button class="btn btn-primary " type="submit">Log In</button>
        </div>
    </form>
    <div class="col-lg-6 offset-lg-3">
    Don't have an account? <a href="mailto:suminzero@gmail.com">Send Mail</a>
    </div>
{% endblock %}
